body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    letter-spacing: -.022em;
    font-synthesis: none;
    -moz-font-feature-settings: 'kern';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #333;
    line-height: 1.5em;
    padding: 25px;
}

img {
    max-width: 100%; /* Afbeeldingen responsive maken */
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}
.topleft {
    display: block;
    margin left: 10px;
    margin right: auto;
    width: 20%;
}

body {
    background-image: url("../images/achtergrond.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.tekst {color: white}

h1 {color: white;
    font-family: 'Lato', sans-serif;}

p, h1, h2, h3, h4 {color: white;
    font-family: 'Lato', sans-serif;}

h2 {
    color: lightskyblue;
    background-color: lightcyan;
    width: 20%;
    border-radius: 40px;
    text-align: center;
    padding: 10px;
    
    
}

h3 {
color:rgb(221, 247, 250);
background-color: rgb(093, 213, 181);
display:inline-block;
border-radius: 30px;
text-align: center;
padding: 10px;
}

p {color: white;
background-color: rgba(255, 255, 255, 0.404);
border-radius: 30px;
text-align: left;
margin: 10px;
padding: 40px;
display:inline-block;}

.stre {widh:100%;}

h5 {font-size: 1em;
    font-family: 'Lato', sans-serif;
color: rgb(255, 255, 255);
text-align: center;}

h4 {
    color:rgb(221, 247, 250);
    background-color: rgb(093, 213, 181);
    display:inline-block;
    border-radius: 30px;
    text-align: center;
    padding: 10px;
    }
.spons { margin-top: 120px;}
.onder {
    color: white;
}
.icoon {width: 100px;
display: inline-block;}
.icoonr {width: 100px;
    display: inline-block;
    float: right;}

ul {color: white;
    background: rgba(255, 255, 255, 0.404
}




